@charset "UTF-8";

/* Oculta o menu UL em telas menores */
@media screen and (max-width: 700px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    html,
    body {
        max-width: 100%;
        overflow-x: hidden;
    }

    menu.options {
        position: relative;
    }

    menu.options>img#iconMenu {
        display: block;
        cursor: pointer;
    }

    menu.options>ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 10px;
        background-color: #1A3129;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }

    menu.options>ul>li {
        margin: 5px 0;
        text-align: right;
    }

    /* section mulher - header */

    header>section#apresentation {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        max-height: auto;
        width: 100%;
        background-color: white;
    }

    header>section#apresentation>div.image-apresentation {
        background-image: url("../imagens/person-woman.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
        border-radius: 0px 0px 30px 30px;

    }

    header>section#apresentation>div.text-apresentation {
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
    }

    header>section#apresentation>div.text-apresentation>h3 {
        font-family: "Urbanist", serif;
        color: #1A3129;
        font-size: 1.2em;
        margin: 10px 0;
    }

    header>section#apresentation>div.text-apresentation>h2 {
        font-family: "Urbanist", serif;
        color: #1A3129;
        font-weight: bold;
        font-size: 2em;
        margin: 10px 0;
    }

    header>section#apresentation>div.text-apresentation>p {
        font-family: "Urbanist", serif;
        color: #1A3129;
        font-size: 1em;
        text-align: center;
        line-height: 1.5;
        margin: 15px 0;
    }

    header>section#apresentation>div.text-apresentation>div.buttons>p.get-starter,
    header>section#apresentation>div.text-apresentation>div.buttons>p.bood-demo {
        padding: 10px;
        border-radius: 10px;
        text-align: center;
        width: 150px;
        margin: 5px;

    }

    header>section#apresentation>div.text-apresentation>div.buttons>p.get-starter {
        background-color: #CBEA7B;
    }

    header>section#apresentation>div.text-apresentation>div.buttons>p.bood-demo {
        background-color: lightgray;
    }

    header>section#apresentation>div.text-apresentation>div.buttons {
        display: flex;

    }

    /* section - recursos */

    section#recursos {
        background-color: white;
        padding: 10px;
    }

    section#recursos>h2 {
        text-align: center;
        font-family: "Urbanist", serif;
        color: #1A3129;
        font-size: 2em;
        margin: 10px 0;
    }

    section#recursos>p {
        font-family: "Urbanist", serif;
        color: #1A3129;
        font-size: 1em;
        text-align: center;
        line-height: 1.5;
        margin: 15px 0;
    }

    section#recursos>div.cards-container {
        display: flex;
        flex-flow: column wrap;
    }

    section#recursos>div.cards-container>div.card01 {
        background-color: #E5F5BD;
        margin: 10px 4px;
        padding: 10px 10px;
        border-radius: 7px;
    }

    section#recursos>div.cards-container>div.card01>div.card-header {
        display: flex;
        flex-flow: row nowrap;
        gap: 10px;
    }

    section#recursos>div.cards-container>div.card01>div.card-header>img {
        width: 70px;
    }

    section#recursos>div.cards-container>div.card01>div.card-header>h3 {
        display: inline;
        color: #1A3129;
        font-size: 1.3em;
        margin: 15px 0;
    }

    section#recursos>div.cards-container>div.card01>p {
        font-family: "Urbanist", serif;
        color: #1A3129;
        font-size: 1em;
        text-align: justify;
        line-height: 1.5;
        margin: 15px 0;
    }

    /* section blogs */

    section#blogs>article.blog-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px;


    }

    section#blogs>article.blog-container>div.blog-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        background-color: #E5F5BD;
        border-radius: 10px;
        padding: 10px;
    }

    /* section pricing */

    section#pricing>article.pricing-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr 1fr 1fr;
        width: 95vw;
        height: auto;
        background-color: white;
        border-radius: 10px;
        border: none;
        padding: 20px;
        margin: 0px auto;
    }

    section#pricing>article.pricing-container>div.pricing-item {
        background-color: rgba(211, 211, 211, 0.085);
        border-radius: 10px;
        border: 1px solid rgba(26, 49, 41, 0.434);
        width: 100%;
        padding: 20px;
        margin: 20px 0px;
    }

    section#pricing>article.pricing-container>div.pricing-item>p {
        text-align: justify;
    }

    section#pricing>article.pricing-container>div.pricing-item>button {
        width: 100%;

    }

    /* footer */
    footer#footer {
        display: flex;
        flex-direction: column;
        background-color: #1A3129;
        padding: 0px;

    }

    footer#footer>div.footer-header {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        padding: 30px 0px;
        gap: 20px;

    }

    footer#footer>div.footer-footer {
        margin-top: 0px;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;
    }

    footer#footer>div.footer-footer>div.info-more {
        display: inline;

    }

    footer#footer>div.footer-footer>div.info-more>div.info-more-item {
        margin-bottom: 20px;

    }

    /* estilos para a TELA SOBRE */

    header>div#container-image>img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
    }

    /* section apresentation */
    section#apresentation-about>div.text-apresentation-about>p {
        font-family: "Urbanist", serif;
        color: rgb(23, 23, 22);
        font-size: 1em;
        font-weight: 400;
        text-align: justify;
        line-height: 25px;
    }

    /* section our story */

    section#container-our-story>div.card-container {
        background-color: white;
        margin-top: 3px;

    }

    section#container-our-story>div.card-container>div.card {
        display: inline-block;
        background-color: #CBEA7B;
        border-radius: 10px;
        margin-bottom: 25px;
        height: auto;


    }

    section#container-our-story>div.card-container>div.card>div.card-image>img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px 10px 0px 0px;
        margin-right: 0px;

    }

    section#container-our-story>div.card-container>div.card>div.card-text {
        background-color: white;
        margin-top: 7px;
        padding: 15px;
        height: auto;

    }


    section#container-our-story>div.card-container>div.card>div.card-text>h3 {
        color: #1A3129;
        font-family: "Urbanist", serif;
        font-size: 1.5em;
        font-weight: 600;
        padding: 0px;

    }

    section#container-our-story>div.card-container>div.card>div.card-text>p {
        font-family: "Urbanist", serif;
        color: #484844ff;
        font-size: 1em;
        font-weight: 400;
        text-align: justify;
        margin: 10px 0px;
        padding: 0px;
    }

    section#container-our-story>div.card-container>div.card>div.card-text>p.date {
        font-family: "Urbanist", serif;
        color: rgb(33, 33, 32);
        font-size: 1em;
        font-weight: 500;
        text-align: justify;
        padding: 0px;
        margin: 10px 0px;
    }

    /* Section conquist */

    section#conquist {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        width: 100%;
        height: auto;
    }

    section#conquist>div.content {
        flex: 1;
        background-color: white;
        width: 90%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    section#conquist>div.content>div.card {
        background-color: rgb(251 251 251);
        width: 98%;
        height: 200px;
    }

    section#conquist>div.content>div.card>div.card-main>p {
        text-align: justify;
    }


    /* Section Proud */
    section#proud {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: rgb(251 251 251);
        width: 90%;
        height: auto;
        margin: 15px auto;
        padding: 12px;
        border-radius: 10px;

    }

    /* Primeira imagem no canto superior direito */
    section#proud>img:first-of-type {
        position: absolute;
        top: -30px;
        left: -25px;
        transform: rotate(15deg);
        width: 120px;
        height: auto;
    }

    section#proud>img.img01 {
        position: absolute;
        bottom: -20px;
        right: -20px;
        width: 120px;
        height: auto;

    }

    section#proud>div.text {
        background-color: rgb(251 251 251);
        width: 100%;
        height: auto;
        display: inline-block;
        text-align: center;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    section#proud>div.button {
        display: inline-block;
        background-color: rgb(251 251 251);
        margin: 0px;
        padding: 0px;
        width: 100%;
        z-index: 1;
    }

    section#proud>div.button>button {
        width: 100%;
    }

    /* section table */

    section#table-features>div.container {
        scroll-behavior: smooth;
        padding-bottom: 10px;
        -webkit-overflow-scrolling: touch;
    }

    /* section faq */

    section#faq>div.others-content>div.text-step>div.step-header {
        padding: 0px;
        margin: 20px 10px;
    }

    section#faq>div.others-content>div.text-step>div.step-header> img{
        width: 30px;
        height: 30px;
    }

    section#faq>div.others-content>div.text-step>p {
        text-align: justify;
    
    }

    /* Estilos para tela Contato */


    header>div#container-contact>div.content>div.content-text>p {
        margin: 20px 20px;
    }

    header>div#container-contact>div.contact-types {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        align-content: start;
        gap: 10px;
        width: 100%;
        height: auto;
        background-color: #1A3129;
        margin-top: 10px;
    
    }
    header>div#container-contact>div.contact-types> div.content-contact-types> img {
        width: auto;
        height: auto;
        margin-top: 10px;
    }

    /* section form */

    section#container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        background-color: rgb(251 251 251);
        border-radius: 10px;
        border: 1px solid rgba(26, 49, 41, 0.434);
        width: 90%;
        height: auto;
        margin: 5% auto;
        padding: 10px;
    }

    section#container>div.maps>div.group-icons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 10px;
        margin: 10px 0px;
    }



}